<form class="example-form" #f="ngForm" novalidate>
	<mat-form-field class="example-full-width">
		<mat-label>Tarefa</mat-label>
		<input matInput [(ngModel)]="description" id="description" name="description" placeholder="Nome da tarefa">
	</mat-form-field>
	<div style="width: 100%; height: 60px;">
		<button mat-stroked-button color="primary" style="float: right;" (click)="insert()">Salvar</button>
	</div>
</form>

<div class="tasks" *ngIf="values">
	<ul>
		<li *ngFor="let value of values">{{ value.key }} - {{ value.value.description }}  {{value.value.date | date: 'dd/MM/yyyy'}}</li>
	</ul>
</div>
